extends birthdayLayout

block content
  script(src='/javascripts/birthday.js?v=414')
  div.warpper
    div.bg
      img(src='/images/bg.png' onload='imgLoad(this)')
    div.stage-bg
      div.cake
        img(src='/images/cake.png' onload='imgLoad(this)')
      div.point
        img(src='/images/point.png' onload='imgLoad(this)')
      div.qiqiu-g
        img(src='/images/qiqiu_green.png' onload='imgLoad(this)')
      div.qiqiu-y
        img(src='/images/qiqiu_yellow.png' onload='imgLoad(this)')
      div.hat-red
        img(src='/images/redHat.png' onload='imgLoad(this)')
      div.hat-white
        img(src='/images/whiteHat.png' onload='imgLoad(this)')
      div.hat-yellow
        img(src='/images/yellowHat.png' onload='imgLoad(this)')
    div.stage-1
      div.yaoqinghan
        img(src='/images/yaoqinghan.png' onload='imgLoad(this)')
