extends birthdayLayout

block content
  div.warpper
    div.bg
    div.stage-bg
      div.cake
      div.point
      div.qiqiu-g
      div.qiqiu-y
      div.hat-red
      div.hat-white
      div.hat-yellow
    div.stage-1
      div.yaoqinghan
  audio#audio
  script(src='/javascripts/birthday.js')
