doctype html
html
  head
    title= title
    script(src='/javascripts/lib/flexible/flexible_css.debug.js')
    script(src='/javascripts/lib/flexible/flexible.debug.js')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/birthday.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
  body
    block content
